.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#image1 {
    width: 40%;
    height: 40%;
}
   
#image2 {
  width: 20%;
  height: 20%;
}  

#image3 {
  width: 20%;
  height: 20%;
  border: solid 1px black;  
}
    

